body {
  background-color: white;
  max-width: 900px;
  padding: 10px; }

.hidden {
  visiblity: hidden; }

.visible {
  visibility: visible; }

.navbar-default {
  background-color: #FF5050; }

.demo-content {
  font-size: 16px;
  padding: 15px;
  min-height: 400px;
  margin-bottom: 10px; }

#left {
  background: lightblue;
  min-width: 300px; }

#right {
  background: lightgrey;
  max-width: 800px;
  min-width: 575px;
  float: right; }

.pagination-centered {
  text-align: center; }
