$my-color: white;

@import "color";

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
		-ms-border-radius: $radius;
			border-radius: $radius;
}

.navbar-default {
	background-color: $nav-color;
}

body {
	background-color: $my-color;
	max-width: 900px;
	padding: 10px;
}


.hidden {
	visiblity: hidden;
}

.visible {
	visibility: visible;
}




.demo-content{
        font-size: 16px;
        padding: 15px;
        min-height: 400px;
        margin-bottom: 10px;
    }

#left {
    background: lightblue;
	min-width: 300px;
}

#right {
    background: lightgrey;
	max-width: 800px;
	min-width: 575px;
	float: right;
}

#container4 {
	background-color: $lightblue;
	padding: 15px;
	border: 2px solid black;
	@include border-radius(8px);
}

